In [7]:
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))

In [10]:
print(df)

     A   B   C   D
0   57  84   8  61
1    5  22  51   5
2   72  91  97  80
3   31  69  27  75
4   60  83  77   1
..  ..  ..  ..  ..
95  37  98   7  26
96  58  49  49  85
97  54  81  30  96
98  50  12  65  50
99  52  17  19  79

[100 rows x 4 columns]

In [11]:
df.columns = ['Random value 1', 'Random Value 2', 'Random value 3', 'Random value 4']

In [12]:
print(df)

    Random value 1  Random Value 2  Random value 3  Random value 4
0               57              84               8              61
1                5              22              51               5
2               72              91              97              80
3               31              69              27              75
4               60              83              77               1
..             ...             ...             ...             ...
95              37              98               7              26
96              58              49              49              85
97              54              81              30              96
98              50              12              65              50
99              52              17              19              79

[100 rows x 4 columns]

In [13]:
df.describe(include='all')

       Random value 1  Random Value 2  Random value 3  Random value 4
count      100.000000       100.00000       100.00000      100.000000
mean        46.850000        48.06000        48.39000       54.010000
std         29.731925        30.32578        28.88147       27.710806
min          1.000000         1.00000         0.00000        1.000000
25%         21.750000        20.00000        25.00000       29.750000
50%         41.500000        43.00000        49.50000       54.500000
75%         76.000000        76.25000        72.00000       79.000000
max         97.000000        98.00000        98.00000       99.000000

In [14]:
df.isna().any()

Random value 1    False
Random Value 2    False
Random value 3    False
Random value 4    False
dtype: bool

In [26]:
df['Random Value 2'].head()

0    84
1    22
2    91
3    69
4    83
Name: Random Value 2, dtype: int32

In [27]:
df['Random value 3'].head()

0     8
1    51
2    97
3    27
4    77
Name: Random value 3, dtype: int32